<%= simple_form_for [:admin, @article], html: { class: 'form-horizontal' } do |f| %>
	<div class="control-group">
  	  <label class="string required control-label" for="article_created_at">Дата</label>
	  <div class="controls">
      <%= f.datepicker :created_at, :dateFormat => "yy-mm-dd" %>
      </div>
    </div>
    <%= f.input :title, label: 'Заголовок новости' %>
    <%= image_tag @article.image.thumb if @article.image.present? %>
    <%= f.input :image, label: 'Картинка', hint: 'Оптимальный размер изображения &mdash; 980 &times; 320 пикселей' %>
    <%= image_tag @article.small_image.thumb if @article.small_image.present? %>
    <%= f.input :small_image, label: 'Маленькая картинка', hint: 'Оптимальный размер изображения &mdash; 980 &times; 80 пикселей' %>
    <%= f.input :teaser, label: 'Текст для списка', input_html: { class: 'span6', rows: 6 } %>
    <%= f.input :description, label: 'Текст новости', input_html: { class: 'span6' } %>
    <div class="form-actions">
      <%= f.button :submit, value: 'Сохранить', class: 'btn-primary' %>
    </div>
<% end %>

