<%= active_nav_link "Новости" %>

<div class="content_articles">
  <h2>Новости</h2><br />

  <%= link_to 'Создать новость', new_admin_article_path, class: 'btn btn-primary' %><br /><br />

  <table class="table">
    <colgroup>
      <col width="300px" />
      <col width="400px" />
      <col width="300px" />
      <col width="200px" />
    </colgroup>
    <thead>
      <tr>
        <td><h4>Дата публикации</h4></td>
        <td><h4>Заголовок</h4></td>
        <td><h4>Картинка</h4></td>
        <td><h4>Действия</h4></td>
      </tr>
    </thead>
    <% for article in @articles %>
      <tr>
        <td><%= article.created_at %></td>
        <td><%= article.title %></td>
        <td><%= image_tag article.image.thumb if article.image.present? %></td>
        <td><%= link_to 'Изменить', edit_admin_article_path(article), class: 'btn btn-info' %>
            <%= link_to 'Удалить', admin_article_path(article), method: :delete, confirm: 'Вы уверены?', class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>