<%= active_nav_link "Новости" %>

<legend>
  Новости
  <%= link_to 'Создать новость', new_admin_article_path, class: 'btn btn-primary btn-mini pull-right' %>
</legend>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Дата публикации</th>
      <th>Заголовок</th>
      <th>Картинка</th>
      <th>Действия</th>
    </tr>
  </thead>
  <% for article in @articles %>
    <tr>
      <td style="white-space: nowrap"><%= article.created_at %></td>
      <td><%= article.title %></td>
      <td><%= image_tag article.image.thumb if article.image.present? %></td>
      <td style="white-space: nowrap" width="100"><%= link_to 'Изменить', edit_admin_article_path(article), class: 'btn btn-info btn-mini' %>
          <%= link_to 'Удалить', admin_article_path(article), method: :delete, confirm: 'Вы уверены?', class: 'btn btn-danger btn-mini' %></td>
    </tr>
  <% end %>
</table>
