<div id="contacts" class="section-header">
  <span class="line"></span>
  <div class="wrapper">
    <h2><%= t 'home.contacts.title' %></h2>
  </div>
</div>
<section class="texture js-magic-height">
  <div class="wrapper">

    <div class="contacts">
      <%= @contacts.description.html_safe if @contacts.description.present? %>
    </div>

    <div class="feedback-done">
      <h5><%= t 'home.contacts.thank_you' %></h5>
      <p><%= t 'home.contacts.sent' %></p>
      <a href="#" class="button"><%= t 'home.contacts.ok' %></a>
    </div>

    <div class="feedback">
    <%= form_for Feedback.new, remote: true do |f| %>
      <%= f.text_field :name, placeholder: t('home.contacts.name'), class: 'textfield' %>
      <%= f.text_field :email, placeholder: t('home.contacts.email'), class: 'textfield' %>
      <%= f.text_area :description, placeholder: t('home.contacts.your_message'), class: 'textfield' %>
      <%= f.submit t('home.contacts.send'), class: 'button' %>
    <% end %>
    </div>

  </div>
</section>