<div id="contacts" class="section-header">
  <span class="line"></span>
  <div class="wrapper">
    <h2>Contacts</h2>
  </div>
</div>
<section class="texture h100">
  <div class="wrapper">
    
    <div class="contacts">
      <%= @contacts.description.html_safe if @contacts.description.present? %>
    </div>
    
    <div class="feedback-done">
      <h5>Thank you</h5>
      <p>Your message have been sent, we will contact you soon.</p>
      <a href="#" class="button">Ok</a>
    </div>

    <div class="feedback">
<!--     <form>
      <input type="text" class="textfield" placeholder="Name">
      <input type="text" class="textfield" placeholder="Email">
      <textarea class="textfield" placeholder="Your message"></textarea>
      <input type="submit" class="button" value="Send">
    </form> -->
    <%= form_for Feedback.new, remote: true do |f| %>
      <%= f.text_field :name, value: "Name", class: 'textfield' %>
      <%= f.text_field :email, value: "Email", class: 'textfield' %>
      <%= f.text_area :description, value: "Your message", class: 'textfield' %>
      <%= f.submit 'Send', class: 'button' %>
    <% end %>
    </div>
    
  </div>
</section>