<div id="job" class="section-header">
  <span class="line"></span>
  <div class="wrapper">
    <h2><%= t 'home.job.title' %></h2>
  </div>
</div>
<section class="texture">
  <div class="wrapper">

    <ul class="jobs-grid">
      <%
        i = -1
        @jobs.each do |job|
          i = i + 1
      %>
        <li class="jobs-grid-item n-<%= i % 3 %>">
          <h3><%= job.title %></h3>
          <ul class="jobs-title">
            <% 10.times do |j| %>
              <% field_name = t "simple_form.labels.job.field_#{j+1}" %>
              <% field_value = job.send("field_#{j+1}") %>
              <% unless field_value.empty? %>
                <li class="jobs-title-item">
                  <h4><a href="#"><%= field_name %></a></h4>
                  <ul class="jobs-list"><%= field_value %></ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <% if i % 3 == 2 %>
        <li class="clear"></li>
        <% end %>
      <% end %>
    </ul>

  </div>
</section>