<div id="job" class="section-header">
  <span class="line"></span>
  <div class="wrapper">
    <h2><%= t 'home.job.title' %></h2>
  </div>
</div>
<section class="texture">
  <div class="wrapper">

    <ul class="jobs-grid">
      <% @jobs.each do |job| %>
        <li class="jobs-grid-item">
          <h3><%= job.title %></h3>
          <ul class="jobs-title">
            <li class="jobs-title-item">
              <h4><a href="#"><%= t 'home.job.job_profile' %></a></h4>
              <ul class="jobs-list">
                <%= job.job_profile %>
              </ul>
            </li>
            <li class="jobs-title-item">
              <h4><a href="#"><%= t 'home.job.your_profile' %></a></h4>
              <ul class="jobs-list">
                <%= job.your_profile %>
              </ul>
            </li>
            <li class="jobs-title-item">
              <h4><a href="#"><%= t 'home.job.requirements' %></a></h4>
              <ul class="jobs-list">
                <%= job.requirements %>
              </ul>
            </li>
            <li class="jobs-title-item">
              <h4><a href="#"><%= t 'home.job.other_skillsets' %></a></h4>
              <ul class="jobs-list">
                <%= job.other_skillsets %>
              </ul>
            </li>
            <li class="jobs-title-item">
              <h4><a href="#"><%= t 'home.job.how_to_apply' %></a></h4>
              <ul class="jobs-list">
                <%= job.how_to_apply %>
              </ul>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>

  </div>
</section>