<header>
  <div class="wrapper">
    <a href="#top" class="header-logo">Hiazma Games</a>
    <ul class="header-menu">
      <li><a href="#whoweare"><%= t 'home.who_we_are.title' %></a></li>
      <li><a href="#news"><%= t 'home.news.title' %></a></li>
      <li><a href="#projects"><%= t 'home.projects.title' %></a></li>
      <li><a href="#job"><%= t 'home.job.title' %></a></li>
      <li><a href="#contacts"><%= t 'home.contacts.title' %></a></li>
    </ul>
    <div class="header-language header-language-<%= I18n.locale %>">
      <%= link_to '', { locale: 'ru' }, class: 'ru' %>
      <%= link_to '', { locale: 'en' }, class: 'en' %>
    </div>
  </div>
</header>

<section class="hiazma-image hiazma-image-<%= I18n.locale %>" id="top">
  <div class="wrapper">
    <h1><%= t('hello') %></h1>
  </div>
</section>

<%= render 'who_we_are' %>

<%= render 'articles' %>

<%= render 'projects' %>

<%= render 'jobs' %>

<%= render 'contacts' %>

<footer>
  <div class="wrapper">
    Hiazma Games <%= Time.now.strftime('%Y') %> <%= t 'footer.copyright' %>
  </div>
</footer>