<%= active_nav_link "Вакансии" %>

<div class="content_jobs">
  <h2>Проекты</h2><br />

  <%= link_to 'Создать вакансию', new_admin_job_path, class: 'btn btn-primary' %><br /><br />

  <table class="table">
    <colgroup>
      <col width="300px" />
      <col width="400px" />
      <col width="300px" />
      <col width="200px" />
    </colgroup>
    <thead>
      <tr>
        <td><h4>Заголовок</h4></td>
        <td><h4>Job Profile</h4></td>
        <td><h4>Requirements</h4></td>
        <td><h4>Действия</h4></td>
      </tr>
    </thead>
    <tbody id="jobs_list" data-update-url="<%= sort_admin_jobs_path %>">
      <% for job in @jobs %>
        <tr id="jobs_<%= job.id %>">
          <td><%= job.title %></td>
          <td><%= job.job_profile %></td>
          <td><%= job.requirements %></td>
          <td><%= link_to 'Изменить', edit_admin_job_path(job), class: 'btn btn-info' %>
              <%= link_to 'Удалить', admin_job_path(job), method: :delete, confirm: 'Вы уверены?', class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>