<%= active_nav_link 'Настройки' %>

<%= simple_form_for [:admin, @user], html: { class: 'form-horizontal edit_admin' } do |f| %>
  <h2>Логин и пароль</h2><br />

  <%= f.input :id, as: :hidden %>

  <%= f.input :email, label: 'Электронная почта' %>
  <%= f.input :password, label: 'Пароль' %>
  <%= f.input :password_confirmation, label: 'Подтвердите пароль' %>
  <%= f.button :submit, value: 'Сохранить', class: 'btn-primary' %>
<% end %><br />

<%= simple_form_for [:admin, @mail], html: { class: 'form-horizontal edit_mail' },
                                     url: admin_feedback_email_to_path do |f| %>
  <h2>E-mail для обратной связи</h2><br />

  <%= f.input :id, as: :hidden %>

  <%= f.input :value, label: 'Электронная почта' %>
  <%= f.button :submit, value: 'Сохранить', class: 'btn-primary' %>
<% end %>