<%= active_nav_link 'Настройки' %>

<div class="row">
  <div class="span6">
    <%= simple_form_for [:admin, @user], html: { class: 'form-horizontal edit_admin' } do |f| %>
      <legend>Логин и пароль</legend>
      <fieldset>
        <%= f.input :id, as: :hidden %>
        <%= f.input :email, label: 'Электронная почта' %>
        <%= f.input :password, label: 'Пароль' %>
        <%= f.input :password_confirmation, label: 'Подтвердите пароль' %>
        <div class="form-actions">
          <%= f.button :submit, value: 'Сохранить', class: 'btn-primary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span6">
      <%= simple_form_for [:admin, @mail], html: { class: 'form-horizontal edit_mail' },
                                                   url: admin_feedback_email_to_path do |f| %>
      <legend>E-mail для обратной связи</legend>
      <fieldset>
        <%= f.input :id, as: :hidden %>
        <%= f.input :value, label: 'Электронная почта' %>
        <div class="form-actions">
          <%= f.button :submit, value: 'Сохранить', class: 'btn-primary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>



