<!DOCTYPE html>
<html>
<head>
  <title>Hiazma Admin</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/admin_header', active_nav_link: yield(:active_nav_link) %>

<div class="container">
  <% if not flash.empty? %>
    <div class="messages">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
